tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #e3f2fd;

}
thead{
    text-align: center;

}

td{
    text-align: center;
}

h1{
    text-align: center;
}

nav{
    border: black;
}

input[type=text]:focus {

    border: 3px solid #555;
}

label {
    font-weight: bold;
}

h1 {
    font-family: "Segoe UI Historic", "Courier New", sans-serif;
    text-align: start;
    padding-left:20px;
    font-weight: bold;
  }

h2 {
    font-family: "Segoe UI Historic", "Courier New", sans-serif;
    font-weight: bold;
    color: #00491D;
}

table {
    font-family: "Calibri", "Courier New", sans-serif;
}

/*
form.form input.text, form.form textarea.standard, form.form select, form.form input.date { 
   background-color:#EBFCFF;
   border:solid 1px #A9A9A9;
   font-size:13px;
   color:#000000;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:5px;
   padding-right:5px;
}
form.form p label {
   font-size:14px;
   color:#333333;
   font-weight:normal;
   padding-top:0px;
   padding-bottom:0px;
}
form.form p.submit input {
   background-color:#FFFFFF;
   border:solid 1px #A9A9A9;
   font-size:16px;
   color:#000000;
   font-weight:bold;
   padding-top:8px;
   padding-bottom:8px;
   padding-right:25px;
   padding-left:25px;
   -moz-border-radius:0px;
   -webkit-border-radius:0px;
   border-radius:0px;
}
form.form p.submit {
   margin-top:0px;
   margin-bottom:0px;
   text-align:left;
}
form.form p.required label, form.form span.required label {
    font-weight:bold;
}


 
*/